<tr>
  <td style="border-top: 1px solid #333;" class="small_title">
    <strong>Total Number of States receiving some type of TA during <%= @search.period %></strong><br/>
    <em>States: <%= @state_totals[:period_state_sentence] %></em>
  </td>
  <td style="border-top: 1px solid #333;" class="count">
    <%= @state_totals[:period_state_count] %>
  </td>
  <td style="border-top: 1px solid #333" class="count">
  </td>
</tr>
<tr>
  <td style="border-top: 1px solid #333;" class="small_title">
    <strong>Total Number of States receiving some type of TA during <%= @search.ytd_period %></strong><br/>
    <em>States: <%= @state_totals[:ytd_state_sentence] %></em>
  </td>
  <td style="border-top: 1px solid #333">
  </td>
  <td style="border-top: 1px solid #333" class="count">
    <%= @state_totals[:ytd_state_count] %>
  </td>
</tr>